
#grad{
    background: linear-gradient(brown,black);
}

pTitle
{
   text-decoration-color: aliceblue;
}

body {
   background-image: url("mainPageBackground.jpg");
   background-repeat: no-repeat;
   background-size: auto;
   background-color: #cccccc;
}

div.projinf
{
   width: auto;
   height: auto;
   color: white;
   background-color: lightgray;
   border-style: inset;
   text-align: center;
   font-size: 25px;
   border: 8px solid brown;
}

div.gitDiv
{
   width: auto;
   height: auto;
   color: white;
   background-color: lightgray;
   border-style: inset; 
   text-align: center;
   font-size: 20px;
   border: 8px solid brown;
}
