
#grad{
    background: linear-gradient(brown,black);
}

pTitle
{
   text-decoration-color: aliceblue;
}

body {
   background-image: url("mainPageBackground.jpg");
   background-repeat: fill;
   background-size: cover;
   background-color: #cccccc;
}

div.projinf
{
   width: 500px;
   height: 300px;
   color:white;
   border-style: inset;
   
   position: absolute;
   top: 60%;
   width: 50%%;
   left: 30%;
   right: 70%;
   text-align: center;
   font-size: 25px;
   border: 8px solid brown;
}

div.gitDiv
{
   width: 200px;
   height: 80px;
   color:white;
   border-style: inset; 
   position: absolute;
   top: 2%;
   left: 70%;
   right: 30%;
   text-align: center;
   font-size: 20px;
   border: 8px solid brown;
}

button.brewButton
{
    background: linear-gradient(to bottom right,tan,brown);
    border: 2px solid black;
    width: 30%;
    height: 15%;
    font-size: 100;
    font-family: Comic Sans MS;
    position: absolute;
    top: 30%;
    left: 5%
}
